.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html,
body,
#root {
    /* Display flex helped with the bottom div only occupying the remaining 100% */
    display: flex;
    flex-direction: column;
    height: 100%;
}
body {
    padding-top: 56px;
    /* 56px is the height of the bootstrap navbar */
}
.app-title {
    /* App name on navbar */
    color: white !important;
    font-family: Postoni, BodoniSvtyTwoITCTT-Book, georgia, serif;
}
.nav-link {
    color: white !important;
}
.text-center {
    font-family: Postoni, BodoniSvtyTwoITCTT-Book, georgia, serif;
    padding-top: 15px; /* To not keep the heading stuck with the top */
}

.btn-secondary:focus {
    /* For stopping the button boundary from coming in: https://stackoverflow.com/questions/19053181/how-to-remove-focus-around-buttons-on-click */
    box-shadow: none !important;
    outline: none !important;
}

.countriesList:active {
    --bs-dropdown-link-active-bg: #00898a;
    /* This property was found from chrome dev tools */
}
